td, th, .title {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none !important; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

#results {
  padding-left: 6em;
  padding-top: 2em;
}


#controlImage{
  padding-left: 7em;
  padding-top: 3em;
}

#signDiv{
  padding-top:2em;
}